<section class="home">

<div class="youtube">

<div class="dash">
	<h1>Your Dashboard</h1>
</div><!-- dash -->

	<div id="player"></div>
	<div id="options">
		


	</div>
</div>

			<% @question[:options].each do |option| %>
			  <%= option %>
			<% end %>
	</div><!-- player -->
</div><!-- options -->



<div class="start">


<!-- THIS PLAYS THE ACTUAL VIDEO!!!! -->

<%= link_to 'Start Game', categories_path %>

<%= button_to 'Start Game', categories_path, :id => "open-contacts-dialog-btn",
:class => "inbox-sf-add-btn tip", :method => :get %>



</div>
</section>

</div><!-- start -->
</section><!-- home -->

<section class="home-content">

</section><!-- home-content -->

<%= javascript_tag do %>

onYouTubeIframeAPIReady = function() {
	console.log("iframe is ready");
	player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: '<%= @question.youtube_id %>', 
          playerVars: { // 'playlist':['kt0g4dWxEBo', 'k4YRWT_Aldo'], 
                        'autoplay': 1, 
                        'start': 20, 
                        'end': 30, 
                        'theme': 'light', 
                        'autohide': 1, 
                        'fs': 0, 
                        'iv_load_policy': 3, 
                        'modestbranding': 1, 
                        'rel': 0, 
                        'showinfo': 0},
          //events: {
          //  'onReady': onPlayerReady,
          //  'onStateChange': onPlayerStateChange
          //}
        }
    );
}
<% end %>


