
<div class="question">
  <h3 class="question_text">
  <%= @question.text %></h3>

	
  <div id="player"></div>
  <%= javascript_include_tag 'https://www.youtube.com/iframe_api' %>
  <% if @question.youtube_id %>
	<%= javascript_tag do %> 

onYouTubeIframeAPIReady = function() {
	console.log("iframe is ready");
	player = new YT.Player('player', {
          height: '360',
          width: '640',
          videoId: '<%= @question.youtube_id %>', 
          playerVars: { 'autoplay': 1, 
                        'start': 20, 
                        'end': 50, 
                        'theme': 'dark',
                        'disablekb': 1,
                        'controls': 0,
                        'autohide': 1,

                        'fs': 0, 
                        'iv_load_policy': 3, 
                        'modestbranding': 1, 
                        'rel': 0, 
                        'showinfo': 0},
        }
    );
}
<% end %>
<% end %>
	
  <% @question.options.shuffle.each do |option| %>
		<div class="col-md-6 col-md-6">
      <div class="option_thumbnail">
			<h4><%= link_to option.text, responses_path(option: option.id, correct: params[:correct]), method: :post  %></h4>
      </div>
		</div > <!-- nav nav-pills nav-stacked -->
	<% end %>
</div> <!-- question -->


